<nav fxLayout="row" class="app-header" fxLayoutAlign="start center">
  <a mat-icon-button class="app-header-brand">
    <img src='../shared/assets/img/teamdaugherty.png'>
  </a>
  <div fxFlex></div>
  <a mat-button class="app-header-link">Home</a>
  <div fxFlex="1"></div>
</nav>